In [1]:
print("Bismillah")

Bismillah

In [6]:
name = ("Asif")
print (name)

Asif

In [7]:
a1 = 5
b=10
c= a1+b
print(c)

15

In [9]:
first_name = "Asif"
last_name = "Ali"
print(first_name + " "+ last_name)

Asif Ali

In [10]:
firstname = "Asif"
lastname = "ali"
fullname = firstname + " " + lastname
print(fullname)

Asif ali

In [12]:
a = "7"
b = 3
c = a + b
print (c)

TypeError: can only concatenate str (not "int") to str

In [16]:
'two strings can be concatinate with each other'
a = "7"
b = "3"
c = a + b
print (c)

73

In [18]:
num  = .075
total = num + 200
print(total)

200.075

In [22]:
 a = 10 % 4
 a

2

In [24]:
print ("my number is " + "5")

my number is 5

In [25]:
a = 5**2
print(a)

25

In [27]:
x = int(input("Enter Your Value"))
y = 15
z = x + y
print(z)

Enter Your Value20
35

In [ ]:
#input always take value as string
#use int() funtion to convert string in integer
#"""   """" use multiline comment
'''
ghkjgfvhghjghjg
'''
x = input("Enter Your Value")
y = 15
z = int(x) + y
print(z)